<section class="main-container">
  <app-side-illustration></app-side-illustration>
  <img
    src="/assets/svg/password-reset-illustration.svg"
    alt="password reset"
    class="reset-password-illustration"
  />
  <div class="reset-password-container">
    <div class="text-reset-password">
      <h1 class="password-reset">Password reset</h1>
      <p>
        We sent a code to <span>{{ userEmail }}</span>
      </p>
      <app-otp-input></app-otp-input>
    </div>
    <div>
      <app-auth-button><p class="btn">continue</p></app-auth-button>
      <div class="section-mail-resend">
        <p class="no-mail">Didn't receive the email? <a> Click to resend</a></p>
      </div>
    </div>
    <div class="back-to-previous">
      <img src="/assets/svg/arrow-left.svg" alt="arrow-left" />
      <p (click)="goBackToLogin()">Back to log in</p>
    </div>
  </div>
</section>
