button {
  cursor: pointer;
  width: 95%;
  /* height: 50px; */
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 16px;
  margin: 0 auto;
  font-size: 14px;
  /* font-weight: 500; */
}

.primary {
  background-color: var(--color-primary);
  color: #fff;
}

.secondary {
  background-color: #2ecc71;
  color: #fff;
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
