.illustration-container {
  width: 250px;
  height: 90%;
  border-radius: 16px;
  background: var(--color-primary);
  margin: 20px 40px;
  position: relative;
}

.app-logo {
  width: 120px;
  height: 100px;
  margin-left: 40px;
}

.container-hero-text {
  font-family: "LexendBold";
  font-size: 26px;
  color: var(--bg-primary);
  padding: 30px;
  margin-top: -30px;
}

.container-sub-text {
  width: 180px;
  font-family: "LexendRegular";
  font-size: 10px;
  line-height: 18px;
}
