<div class="hidden-container">
  <app-side-illustration></app-side-illustration>
  <img
    src="/assets/svg/password-reset-illustration.svg"
    alt="password reset"
    class="reset-password-illustration"
  />
  <div class="password-setup-container">
    <div class="auth-hero-text">
      <span>Set new password</span>
      <p>Must be at least 8 characters</p>

      <form>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="text" id="password" placeholder="Enter password" />
          <label for="password">Confirm Password</label>
          <input
            type="text"
            id="confirmPassword"
            placeholder="Enter password"
          />
        </div>
        <app-auth-button variant="primary"
          ><p>reset password</p></app-auth-button
        >
      </form>
    </div>
  </div>
</div>
