.reset-password-illustration {
  position: absolute;
  bottom: 0;
  right: 944px;
  left: 0;
  top: 300px;
  width: 255px;
  height: 255px;
  margin: 0 auto;
}

.password-setup-container {
  margin: 130px, 10px;
  width: 40vw;
}

.btn-text {
  text-transform: uppercase;
  font-family: "LexendSemibold";
  font-size: 14px;
  width: 100%;
}
