<section class="hidden-container">
  <app-side-illustration></app-side-illustration>
  <img
    src="/assets/svg/forgot-password-illustration.svg"
    alt="forgot-password"
    class="forgot-password-illustration"
  />
  <div class="forgot-password-container">
    <div class="auth-hero-text">
      <span>Forgot password?</span>
      <p>No worries, we'll send you reset instructions</p>
    </div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div
        class="form-group"
        [ngClass]="{ 'has-error': submitted && email?.invalid }"
      >
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Enter your email"
          [ngClass]="cssClasses"
        />
        <div
          *ngIf="
            forgotPasswordForm.invalid &&
            email?.hasError('required') &&
            forgotPasswordForm.get('email')?.touched
          "
          class="error-message"
        >
          Email is required
        </div>
        <div
          *ngIf="forgotPasswordForm.invalid && email?.hasError('email')"
          class="error-message"
        >
          Invalid email address
        </div>
      </div>
      <app-auth-button variant="primary" class="btn-forgot-password">
        <p class="btn">Reset password</p>
      </app-auth-button>
    </form>
    <div class="back-to-previous" (click)="goBackToLogin()">
      <img src="/assets/svg/arrow-left.svg" alt="arrow-left" />
      <p>Back to log in</p>
    </div>
  </div>
</section>
